@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'IBM Plex Sans', 'sans-serif';
    background-color: #F2f4f9;
}

tr:nth-child(even) {
    background-color:rgba(152, 175, 199, 0.1);
  }


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #b8d1ff;
  }


p{
    font-size: 16px;
}

.leaflet-container {
  background: #b8d1ff;
}

#map-frame{
  height: 500px;
}

#covid-V{
  font-weight: 850;
  color: #51A2DA;
  display: inline;
}

#box{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#confirmed, #recovered, #deaths{
  font-size: 24px;
}

#confirmed{
  color: orange;
  font-weight: 500;
}

#recovered{
  color: green;
  font-weight: 500;
}

#deaths{
  color: red;
  font-weight: 500;
}

#new-confirmed, #new-recovered, #new-deaths{
  font-weight: 500;
}

#confirmed-card, #recovered-card, #deaths-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  border: none;
  padding: 12px;
  background: white;
  text-align: center;
}

#new-confirmed-box, #new-recovered-box, #new-deaths-box{
  display: flex;
  flex-direction: row;
  font-size: 12px;
}