@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'IBM Plex Sans', 'sans-serif';
    background-color: #F2f4f9;
}

tr:nth-child(even) {
    background-color:rgba(152, 175, 199, 0.1);
  }


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #b8d1ff;
  }


p{
    font-size: 16px;
}

.leaflet-container {
  background: #b8d1ff;
}